{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "Color": true,
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jsdoc"
    ],
    "settings": {
        "react": {
            "version": "detect",
        }
    },
    "rules": {
        "no-console": ["warn"],
        "no-debugger": ["warn"],

        "complexity": ["warn", 20],
        "curly": ["error", "all"],
        "eqeqeq": ["error", "smart"],
        "no-alert": ["error"],
        "no-else-return": ["warn"],
        "no-empty-function": ["warn"],
        "no-eval": ["error"],
        "no-floating-decimal": ["warn"],
        "no-param-reassign": ["error"],
        "no-return-assign": ["error"],
        "no-shadow": ["error"],
        "no-throw-literal": ["warn"],
        "no-undefined": ["warn"],
        "no-use-before-define": ["error"],
        "no-useless-call": ["warn"],
        "no-useless-return": ["warn"],
        "radix": ["error"],

        "brace-style": ["error", "1tbs"],
        "camelcase": ["error"],
        "comma-dangle": ["error", "always-multiline"],
        "eol-last": ["error"],
        "indent": ["error", "tab"],
        "lines-between-class-members": ["error", "always"],
        "max-depth": ["error", 4],
        "max-len": ["warn", 100, {"ignoreUrls": true, "ignoreRegExpLiterals": true}],
        "max-lines-per-function": ["warn", 100],
        "max-lines": ["warn", {"max": 500, "skipBlankLines": true, "skipComments": true}],
        "multiline-comment-style": ["warn", "separate-lines"],
        "no-lonely-if": ["warn"],
        "no-mixed-operators": ["warn"],
        "no-trailing-spaces": ["error"],
        "one-var-declaration-per-line": ["error"],
        "quotes": ["error", "single"],
        "space-infix-ops": ["error", {"int32Hint": true}],
        "space-unary-ops": ["error", {"words": true, "nonwords": false}],
        "spaced-comment": ["error", "always"],
        "wrap-regex": ["warn"],

        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": "off",

        "jsdoc/check-alignment": "warn",
        "jsdoc/check-examples": "off",
        "jsdoc/check-indentation": "off",
        "jsdoc/check-param-names": "error",
        "jsdoc/check-syntax": "warn",
        "jsdoc/check-tag-names": "error",
        "jsdoc/check-types": "error",
        "jsdoc/implements-on-classes": "warn",
        "jsdoc/match-description": "off",
        // note: newline-after-description currently edits destructively
        // will turn on after version update
        "jsdoc/newline-after-description": "off",
        "jsdoc/no-types": "off",
        "jsdoc/no-undefined-types": "warn",
        "jsdoc/require-description": ["warn", {"descriptionStyle": "body"}],
        "jsdoc/require-description-complete-sentence": "off",
        "jsdoc/require-example": "off",
        "jsdoc/require-hyphen-before-param-description": "warn",
        "jsdoc/require-jsdoc": "warn",
        "jsdoc/require-param": "error",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-param-name": "error",
        "jsdoc/require-param-type": "error",
        "jsdoc/require-returns": "off",
        "jsdoc/require-returns-check": "error",
        "jsdoc/require-returns-description": "off",
        "jsdoc/require-returns-type": "error",
        "jsdoc/valid-types":"error"
    }
}