
.Adder {

	padding: 12px;

	display: flex;
	justify-content: flex-end;

	transition: all 300ms ease-in-out;

	margin-bottom: 12px;

	background-color: darken(#AAABAF, 10);

	& input {
		flex: 1;
		text-align: center;
	}

	& button {
		width: 6rem;
		max-width: 25%;
	}

	& input, & button {
		height: 2.4rem;
		font-family: $font-stack-mono;
		vertical-align: middle;
		font-size: 1.2rem;
	}

}

