
.Generator {

	padding: 12px;

	transition: all 300ms ease-in-out;

	margin-bottom: 12px;
	margin-top: 12px;

	text-align: center;

	background-color: darken($background-color, 10);

	& button {
		width: 100%;
		max-width: $input-max-width;

		&:hover {
			background-image: linear-gradient(
				75deg,
				rgba(255, 0, 0, 0.3),
				rgba(255, 128, 0, 0.3),
				rgba(255, 255, 0, 0.3),
				rgba(0, 255, 0, 0.3),
				rgba(0, 0, 255, 0.3),
				rgba(128, 0, 255, 0.3),
				rgba(255, 0, 255, 0.3)
			);
		}
	}

}

