

// https://css-tricks.com/box-sizing/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0; // frowny face @ default margin
	font-family: $font-stack-sans;
}

html, body, #background {
	height: 100%;
	// todo font later
}

#root {
	min-height: 100%;
	background-color: #333;
}

